<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sunshine.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--uses-sdk tools:overrideLibrary="com.google.firebase.firebase_core" /-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication" >

        <activity
            android:name="com.example.android.sunshine.app.LoginActivity"
            android:label="PhotoSearch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.sunshine.app.GalleryActivity"
            android:parentActivityName=".NewMainActivity">
            <intent-filter>
                <action android:name="android.media.action.GALLERY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.NewMainActivity" />
        </activity>
        <activity
            android:name="com.example.android.sunshine.app.OpenGalleryObjectActivity"
            android:parentActivityName=".GalleryActivity">
            <intent-filter>
                <action android:name="android.media.action.OBJECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.GalleryActivity" />

        </activity>

        <activity
            android:name="com.example.android.sunshine.app.ImageExplanationActivity"
            android:parentActivityName=".OpenGalleryObjectActivity">
            <intent-filter>
                <action android:name="android.media.action.OBJECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.OpenGalleryObjectActivity" />

        </activity>

        <activity
            android:name="com.example.android.sunshine.app.SettingsActivity"
            android:parentActivityName=".NewMainActivity">
            <intent-filter>
                <action android:name="android.media.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.NewMainActivity" />

        </activity>
        <activity android:name="com.example.android.sunshine.app.NewMainActivity"
            android:parentActivityName=".NewMainActivity">
            <intent-filter>
                <action android:name="android.media.action.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.LoginActivity" />
        </activity>

        <activity android:name="com.example.android.sunshine.app.DetailActivity"
            android:parentActivityName=".NewMainActivity">
            <intent-filter>
                <action android:name="android.media.action.DETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.NewMainActivity" />
        </activity>
        <activity android:name=".data.AddWord"
            android:parentActivityName=".GalleryActivity">
            <intent-filter>
                <action android:name="android.media.action.ADDWORDS" />
                <category android:name="android.intent.category.DEFAULT" />
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.android.sunshine.app.GalleryActivity" />
            </intent-filter>
        </activity>
        <activity android:name=".WordCategoriesActivity"
            android:parentActivityName=".OpenGalleryObjectActivity">
            <intent-filter>
                <action android:name="android.media.action.WORDCATEGORIES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.WordCategoriesActivity"/>
        </activity>
    </application>

</manifest>